In [1]:
import pandas as pd


def from_string_to_list(date):
    new_list = date.split(',')
    return new_list


def year_generate(year_list):
    index = 0
    year_list_len = len(year_list)
    while year_list_len != 0:
        yield int(year_list[index])
        index += 1
        year_list_len -= 1

def read_files(year_list):
    list_of_dataframes = []
    year = year_generate(year_list)
    for i in year:
        data = pd.read_csv(f'yob{str(i)}.txt', names = ['Names', 'Gender', 'Count'])
        data['Year'] = i
        list_of_dataframes.append(data)
            
    df_result = pd.concat(list_of_dataframes)
    return df_result


def top(df):
    ndf = df.sort_values('Count',ascending = False) 
    print(ndf.head(3)[['Names','Count','Year']])
    
    
def Dinamic_count(df):
    ndf = df.groupby(['Gender', 'Year']).sum()[['Count']]
    print(ndf)


#begin
date = input('введите года (через запятую), топ 3 имен которых хотите просмотреть:')
df = read_files(from_string_to_list(date))
df.reset_index(inplace = True)
top(df)
Dinamic_count(df)

введите года (через запятую), топ 3 имен которых хотите просмотреть1990,1890
             Names  Count  Year
15232      Michael  65290  1990
15233  Christopher  52336  1990
0          Jessica  46475  1990
               Count
Gender Year
F      1890   190376
       1990  1898135
M      1890   111025
       1990  2053109